<script lang="ts">
	import { goto } from '$app/navigation';
	import prompt from '$lib/shared/stores/summary';
	let currentSummary: string;

	prompt.subscribe((val) => {
		try {
			currentSummary = JSON.parse(val);
		} catch (e) {
			console.log(val);
			console.log((e as App.Error).message);
			alert(JSON.stringify(val));
		}
	});
</script>

<div
	class="container h-full mx-auto flex flex-col justify-center items-center text-base max-w-prose px-4"
>
	<h2 class="my-4">Summary</h2>
	<div>{currentSummary}</div>
	<button class="btn variant-ringed-primary my-12" on:click={() => goto('/')}>Go Back</button>
</div>
