<div
	class="container h-full mx-auto flex flex-col justify-center items-center text-base max-w-prose px-4"
>
	<h1 class="self-center">what dis?</h1>
	<p class="font-sans my-4">
		ChatGPT has a character limit per prompt, so to ask questions about a large body of text would
		require that you split the text and ask for ChatGPT to wait until the last prompt with the text
		before generating a summary.
	</p>
	<p class="font-sans">
		ChatGPT's web interface also can't be adjusted to lower the probability of the AI spouting
		unrelated nonsense. The technical term is "temperature", and the higher the temperature, the
		more randomness in the output.
	</p>
	<p class="font-sans my-4">
		With Sumi, you can simply enter a URL or upload the entire document as a text file, and it will
		handle everything else.
	</p>
	<a
		class="btn variant-ringed-primary my-12"
		href="https://git.silentsilas.com/silentsilas/Sumi"
		target="_blank"
		rel="noreferrer"
	>
		Source code
	</a>
</div>
